@import url('https://use.fontawesome.com/releases/v5.6.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: initial;
}

body {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}